.initialLoad{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
 
}
.navBar{
  background-image: linear-gradient(to right,#F56217 ,#0B486B, rgba(255,0,0,0));

 margin-left: .1px; 
 margin-right: 19px; 
 display: flex;
 justify-content: space-evenly;
 

 width: 98.61vw;
 height: 35px;
 border-style: solid;

 position: fixed;
 z-index: 1;
}
.navElement{
  /* background-image: linear-gradient(to right,#F56217,#2a5298 ); */

  /* border-style: solid  ; */
 padding-left: 5px;
 padding-right: 5px;
  margin: 5px;
  color: #eef2f3;
}
.navElement:hover{
  background-image: linear-gradient(to right,#F56217,#2a5298 );

}
.progressMainWrapper{
  height: .5rem;
  width: 100%;
  background-image: linear-gradient(to bottom right,#E6DADA, #274046);  


 position: fixed;
 bottom: 93.1%;
 z-index: 1;
}
.progressMainStyle {
  height: .5rem;
  background-image: linear-gradient(to right,#0B486B,#F56217 );

  
}
.container{
display: flex;
justify-content: space-evenly;

position: absolute;
bottom: 10%;
left: 60px;

border-style: solid;
width: 50vw;
height: min-content;
padding: 10px;
background-image: linear-gradient(to bottom right,#E6DADA, #274046);  

}

.boxOne{
  border-style: solid;
  border-color: black;
  width: 20%;
  height: 150px;
  margin: 5px;

  
}
.boxTwo{
  
  border-style: solid;
  border-color: black;
  width: 40%;
  height: 150px;
  margin: 5px;

  background-image: linear-gradient(to bottom right,#E6DADA, #274046);  
}
.rappelContainer{
  display: flex;
flex-direction: column;
position: relative;
background-image: linear-gradient(to bottom right,rgba(255,0,0,0) ,#0B486B, #F56217 );

}

.rappelBox {
  position: fixed;
  bottom: 15%;
  left: 60%;

  width: 80px;
  height: 80px;

  border-style: solid;

 

}

@media screen and (max-width: 1200px) {
  .boxOne{
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .boxOne{
    width: 90%;
  }
}